<div class="box" [style.background-color]="dataComment.color" *ngIf="dataComment">
  <header class="space"></header>
  <main>
    <header>
      <div class="upside">
        <div class="user-img">
          <img [src]="dataComment.user.imageUrl" alt="" onerror="this.src='../../../assets/icon/schwi.jpg';">
        </div>
        <div class="user-info">
          <h2> {{ dataComment.user.name }} </h2>
          <h3> {{ dataComment.user.role }} </h3>
        </div>
      </div>
    </header>
    <div class="title">
      <h1> {{ dataComment.title }} </h1>
    </div>
    <div class="content">
      <p>
        {{ dataComment.annotation }}
      </p>
      <ng-container *ngFor="let comment of dataComment.comments">
        <app-comment-in-postite [userDataCommented]="comment"></app-comment-in-postite>
      </ng-container>
    </div>
  </main>
  <footer>
    <div class="comment-input">
      <div class="input-form">
        <input type="text" placeholder="Inserir comentario" [(ngModel)]="data.comment">
        <button (click)="publish()" (click)="clear()">Publicar</button>
      </div>
    </div>
    <div class="icons" *ngIf="!like; else liked" (click)="enjoy()">
      <ion-icon name="heart-outline"></ion-icon>
    </div>
  </footer>
</div>
<ng-template #liked>
  <div class="icons" (click)="enjoy()">
    <ion-icon name="heart" color="danger"></ion-icon>
  </div>
</ng-template>