* {
  font-size: 1em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.box {
  width: 90vw;
  height: 70vh;
  margin-bottom: 3em;
  background-color: #d7df6b;
}

.space{
  width: 100%;
  height: 1%;
  background-color: inherit;
}

main {
  width: 100%;
  height: 84%;
  overflow-y: auto;
  overflow-x: hidden;

  header {
    width: 100%;
    height: 20%;
  
    .upside {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
  
      .user-img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20%;
        height: 100%;
  
        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
        }
      }
  
      .user-info {
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
  
        h2 {
          margin: 0;
          padding: 0;
          color: #595a50;
          font-style: italic;
        }
  
        h3 {
          margin: 0;
          padding: 0;
          color: #858763;
          font-size: 10px;
        }
      }
    }
  }

  .title {
    width: 100%;
    height: 5%;
    margin-left: 20px;
    margin-bottom: 20px;

    h1 {
      margin: 0;
      font-size: 18px;
      color: #54544f;
    }
  }

  .content {
    height: 100%;
    width: 100%;
    padding: 0 20px;
    margin: 0;
    color: #50504e;

    p {
      margin: 0 0 40px;
    }
  }
}

footer {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: space-around;

  .comment-input {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;

    .input-form {
      display: flex;
      justify-content: space-around;
      margin-left: 20px;
      width: 100%;
      height: 30%;
      border: solid 1px #57574f;
      border-radius: 10px;

    }

    input {
      width: 100%;
      padding: 10px;
      padding-right: 0;
      border: none;
      border-radius: 10px;
      background-color: inherit;
      outline: none;
      font-size: 13px;
    }

    button {
      height: 100%;
      font-size: 13px;
      border-radius: 10px;
      padding-right: 18px;
      background-color: inherit;
      color: #818262;
    }
  }

  .icons {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    ion-icon {
      width: 25px;
      height: 25px;
      color: #6a6b53;
    }
  }
}