.container {
  background-color: #fff;
  border-radius: 40px;
  box-shadow: 2px 2px 5px rgb(206, 206, 206);
  height: 100%;
  width: 100%;
}

.content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;

  & > button {
    width: 13.5%;
    height: 80%;
    background-color: #fff;
    outline: none;

    & > ion-icon {
      width: 25px;
      height: 25px;
    }
  }
}