    <form action="">
      <div class="logo">
        <img src="../../../assets/icon/LOGO.png" alt="">
      </div>
      <div class="input-email">
        <label for="email">E-mail</label>
        <input type="text" id="email">
      </div>
      <div class="input-password">
        <label for="password">Senha</label>
        <input type="password" id="password">
      </div>
      <button (click)="goToHome()">Confirmar</button>
      <p>Não possui conta?<a href=""> Cadastre-se</a></p>
    </form>
