.box {
  background-image: url(../../../assets/img/grid.svg);
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 20vh;
}

main {
  height: 50vh;
  width: 100vw;
}

.footer {
  position: relative;
  width: 100vw;
  height: 30vh;
  display: flex;
  justify-content: center;
  
  & > app-postite {
    position: absolute;
    height: 100%;
    width: 200px;
    bottom: 0;
  } 
  
  & > :nth-child(1) {
    transform: rotate(332deg);
    transform-origin: bottom;
  }

  & > :nth-child(2) {
    transform: rotate(342deg);
    transform-origin: bottom;
  }

  & > :nth-child(3) {
    transform: rotate(352deg);
    transform-origin: bottom;
  }

  & > :nth-child(4) {
    transform: rotate(2deg);
    transform-origin: bottom;
  }

  & > :nth-child(5) {
    transform: rotate(12deg);
    transform-origin: bottom;
  }

  & > :nth-child(6) {
    transform: rotate(22deg);
    transform-origin: bottom;
  }
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 .5rem;
  margin-top: 2rem;
  padding: 0 2rem;

  .card {
    &:nth-child(n + 3){
      margin-top: -10rem;
    }
  }
}

 @media (min-width: 390px) and (max-width: 400px) {
   .content{padding: 0 1rem;}
 }

 @media (max-width: 375px) {
   .content{padding: 0 .5rem;}
 }

 @media (max-width: 360px) {
   .content{padding: 0 0rem;}
 }