.box {
  position: fixed;
  width: 90vw;
  height: 7vh;
  left: 20px;
  bottom: 30px;

  & > .navbar {
    width: 100%;
    height: 100%;
  }
}

ion-toolbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  --background: #fff;

  & > ion-title {
    font-size: 1.4em;
    color: #818181;
  }
}

ion-list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 20px;

  & > ion-item{
    height: 60px;
    font-style: italic;
    font-weight: 500;

    color: #4e4e4e;
  }
}

.logoMenu {
  height: 155px;
  display: flex;
  justify-content: center;

  & > img {
    width: 78px;
    height: 76px;
  }
}